#main{
    height: 100vh;
    width: 100vw;
    background-color: #8edfc552;
}

nav{
    height: 120px;
    width: 100%;
     background-color: #0d6efd;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px 10px 10px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: calc(100% - 120px);
    width: 100%;
    padding: 10px;
}

.brdRad{
    border-radius: 10px;
}

.logo{
    height: 100%;
}

.cart-icon{
    height: 40px;
    width: 40px;
    background-image: url("./../assets/images/shopping-cart.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    cursor: pointer;
}

.cart-count{
    color: green;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#left-panel{
    height: 100%;
    width: 250px;
    background-color: #e9ecef;
    margin-right: 10px;
}

#middle-panel{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
}

.shadow{
    box-shadow: 5px 5px 10px;
}