/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b{
    height: 100%;
    width: 100%;
}

.h{
    height: auto;
    width: 100%;
}

.v{
    height: 100%;
    width: auto;
}

.vh{
    .h{
        height: auto;
        width: auto;
    }
}

.lrtp{
    padding: 0px 10px 5px 10px ;
}

.e{overflow:hidden;text-overflow:ellipsis;direction:ltr;max-width:100%;white-space:nowrap;}
